@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-rows: 1fr;
   
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background: antiquewhite;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
.header-container{
    display: flex;
    justify-content: space-around;

}
nav{
    position: relative;
    top: 20px;
    display: flex;
    grid-row: 1/2;
    
}
nav a {
    color:#051014;
    font-size: x-large;
   
    padding: 0px 10px; 
    border: 3px black;
    border-style: solid;
    text-decoration: none;
    border-radius: 30px;    
}
nav a:hover{
    background-color: #f9ffa0;
}

.main-container{
    width: 100%;
    height: 600px;
    position: relative;
    top: 75px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    z-index: -1; 
    box-shadow: 0 4px 25px -22px black; 
}
.main-container h1{
    width: 100%;
    height: 600px;
    
}

.video{
    
    position: relative;
    top: 7%;
    background-color: #94B9DB;
    height: 500px;
    padding-top: 20px;

    
}
video{
    /* width:400px; 
    height:240px; */
    
    width: 500px;
    height: 420px;
    display: block;
    margin: auto;
    /* border: 5px solid #45c9d0;
    border-radius: 20px; */
    /* position: ab; */
    

}

footer{
    width: 100%;
    height: 150%;
    background-color: aliceblue;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    
    /* grid-row: -1; */
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */ 
}
.author{
    
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;

}
.author a{
    text-decoration: none;
    color:#051014;
}
.footerinfo{
    
    line-height:1.6;
}
.footerinfo a{
    color: #051014;
    font-size:40px;
}
.footerinfo p{
    font-size:18px;
}