*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 1fr;
   
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
    padding: auto;
    background: black;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
.header-container{
    display: flex;
    justify-content: space-around;
       
}
img{
    position: relative;
    top: 10px;
    height: 60px;
    width: 60px;
}
nav{
    position: relative;
    top: 20px;
    display: flex;
    /* grid-row: 1/2; */
    
}
nav a {
    color:white;
    font-size: x-large;
   
    padding: 0px 10px; 
    /* border: 3px black;
    border-style: solid; */
    text-decoration: none;
    /* border-radius: 30px;     */
}
nav a:hover{
    color: #f9ffa0;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    height: 600px;
    position: fixed;
    z-index: -1; 
    
}
.wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;

}



article{
    padding:10px;
    padding-bottom: 0px;
    border: 2px black;
    border-style:solid;
    
    background-color: #94B9DB;
    margin:10px;
}


footer{
    width: 100%;
    height: 150%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: space-between;
    
}
.author{
    
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;

}
.author a{
    text-decoration: none;
    color:#051014;
}
.footerinfo{
    
    line-height:1.6;
}
.footerinfo a{
    color: #051014;
    font-size:40px;
}
.footerinfo p{
    font-size:18px;
}
